@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&family=PT+Mono&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Custom root properties */
:root {
	--ff-main: 'Nunito Sans', sans-serif;
	--ff-header: 'PT Mono', monospace;

	--fw-reg: 400;
	--fw-bold: 700;
	--fw-black: 800;

	--color-light: #ffffff;
	--color-dark: #0f0f0f;
	--color-background: #0e1334;
	--color-acct1: #3f5efb;
	--color-acct2: #e20b50;
	--gradient: linear-gradient(
		to bottom,
		rgba(252, 70, 107, 0.4) 0%,
		rgba(63, 94, 251, 0.4) 100%
	);
	--gradient2: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #0e1976 100%);

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
		0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 600px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

/* General styles */
html {
	scroll-behavior: smooth;
}

body {
	background: var(--color-background);
	color: var(--color-light);
	margin: 0 auto;
	font-family: var(--ff-main);
	font-size: var(--fs-body);
	line-height: 1.6;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	justify-content: center;
}

img {
	display: block;
	max-width: 100%;
}

button:hover {
	cursor: pointer;
}

button:focus {
	display: none;
}

/* Navbar */
.top-socials {
	position: absolute;
	top: 10%;
	left: 1.5%;
}

.top-socials a {
	text-decoration: none;
	font-size: 20px;
	color: var(--color-light);
	padding-right: 1em;
}

.logo {
	width: 150px;
}

.header {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	position: absolute;
	width: 100%;
}

@media (max-width: 768px) {
	.header {
		flex-direction: column;
		place-content: center;
		align-items: center;
	}
	.nav-items {
		position: relative !important;
		display: block;
	}
	.top-socials {
		position: relative;
	}
}

@media (max-width: 425px) {
	.hero-text {
		display: none;
	}
	.logo {
		width: 70px;
	}
}

.nav-items {
	position: absolute;
	top: 10%;
	right: 1.5%;
}

.nav-item {
	text-decoration: none;
	color: var(--color-light);
	padding-left: 2em;
}
/* Burger */
.burger {
	position: absolute;
	top: 5%;
	left: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 2rem;
	height: 2rem;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	z-index: 10;
}

.burger div {
	width: 2rem;
	height: 0.25rem;
	background: var(--color-light);
	border-radius: 10px;
	transition: all 0.3s linear;
	position: relative;
	transform-origin: 1px;
}

/* Hero Section */
.hero-img {
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -2;
}

.hero-text::before {
	content: 'Set the vibe right';
	font-family: var(--ff-header);
	color: var(--color-light);
	font-size: 60px;
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 5%;
}

.hero-text button {
	background-color: var(--color-acct1);
	letter-spacing: 0.2em;
	font-size: var(--fs-body);
	font-weight: var(--fw-bold);
	color: var(--color-light);
	position: absolute;
	z-index: 3;
	top: 67%;
	left: 5%;
	padding: 1.1em 2em;
	border: none;
	border-radius: 50px;
}

@media (max-width: 1200px) {
	.hero-text::before {
		z-index: 3;
		top: 20%;
		left: 5%;
	}

	.hero-text button {
		z-index: 3;
		top: 30%;
		left: 5%;
	}
}

.hero-divider {
	position: relative;
	display: block;
	bottom: 200px;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0 auto;
	line-height: 0;
}

.hero-divider svg {
	position: relative;
	margin: 0 auto;
	display: block;
	width: calc(200% + 1.3px);
	height: 214px;
	transform: translateY(-2px) rotateY(180deg);
}

.hero-divider path {
	display: block;
}

.hero-divider .shape-fill {
	fill: #0e1334;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
	.hero-divider svg {
		width: calc(190% + 1.3px);
		display: block;
		height: 195px;
	}
}

/* About Section */
.about {
	display: flex;
	justify-content: center;
	position: relative;
	top: -8em;
	background-color: var(--color-background);
	margin: 0 auto;
}

@media (max-width: 1160px) {
	.about {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}
	.about-desc {
		width: 700px;
	}
}

@media (max-width: 425px) {
	.about {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}
	.about-desc, .spdj-text, .merch-text {
		width: 275px !important;
  }
  .divider svg {
    display: none !important;
  }
  .ig-cta p {
    text-align: center !important;
  }
}

.about-img {
	width: 500px;
}

.about-desc {
	flex-direction: column;
	width: 500px;
	margin-left: 3em;
}

.about-desc h1 {
	font-family: var(--ff-header);
}

.spdj {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.spdj .row {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		align-items: center;
	}
}

.spdj h1 {
	margin: 0 auto;
	text-align: center;
	padding-top: 1em;
}

.spdj-text {
	width: 500px;
}

.spdj::before {
	content: '';
	background-image: url('./screens/sections/SPDJ/SPDJ-BG.jpg');
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.25;
	z-index: -1;
}

.spdj .row {
	display: flex;
	justify-content: center;
	padding: 2em 0;
}

.spdj img {
	max-width: 300px;
	margin: 0 3em;
}

.spdj-icons a {
	text-decoration: none;
	font-size: 25px;
	color: var(--color-light);
	padding-right: 1em;
}

/* Song Section */
.album-container {
	background-color: var(--color-background);
	margin: 0 auto;
	height: 100%;
  position: relative;
}

.song-section {
	display: flex;
	justify-content: center;
	margin: 0;
	margin-top: 2em;
	bottom: -7em;
	z-index: 3;
}

@media (max-width: 768px) {
	.song-section {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		align-items: center;
		width: 50%;
	}
	.song-card + .song-card {
		margin-left: 0 !important;
  }
  .hero-text {
    display: none;
  }
  .hero-divider {
    display: none;
  }
  .about {
    position: inherit;
    padding-top: 1em;
  }
}

.ss-header {
	margin: 0 auto;
	text-align: center;
	font-family: var(--ff-header);
  font-size: var(--fs-h1);
  padding-top: .7em;
}

.song-section img {
	width: 250px;
}

/* Song Card */
.song-card {
	text-align: center;
}

.song-card a {
	text-decoration: none;
	color: var(--color-light);
}

.song-card + .song-card {
	margin-left: 5em;
}

.play-icon {
	padding-top: 0;
	font-size: 1.4em;
}

.listen-now {
	display: flex;
	justify-content: center;
	align-content: center;
	background: var(--gradient2);
	z-index: 1;
	position: relative;
	top: -5.2em;
	padding: 3.5em 0 0.4em 0;
}

.listen-now p {
	margin: 0;
	padding-left: 0.7em;
}

/* Crowd Section */
.divider {
	position: absolute;
	left: 0;
	width: 100%;
	line-height: 0;
	transform: rotate(180deg);
	z-index: 0;
}

.divider svg {
	position: relative;
	display: block;
	width: calc(190% + 1.3px);
	height: 350px;
	transform: rotateY(180deg);
}

.divider .shape-fill {
	fill: var(--color-background);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
	.divider svg {
		width: calc(190% + 1.3px);
		height: 195px;
	}
}

/* Music Videos Section */
.collab {
	text-align: center;
	padding: 4em 0 3em 0;
}

.collab p {
	margin: 0;
}

.collab h1,
.merch h1,
.contact-section h1,
.spdj h1 {
	margin: 0;
	font-family: var(--ff-header);
	font-size: var(--fs-h2);
}

.videos {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 5em;
	text-align: center;
}

@media (max-width: 1200px) {
	.videos {
		display: flex;
		flex-direction: column;
	}
}

.videos p {
	font-size: 14px;
}

.willy {
	margin: 0 auto;
	text-align: center;
}

.willy a {
	text-decoration: none;
	font-size: 20px;
	color: var(--color-acct1);
}

.willy a:last-child {
	padding-left: 1em;
}

.videos h3 {
	text-align: center;
}
.ig-cta a {
	text-decoration: none;
}

.ig-cta p {
	background: var(--color-acct2);
	letter-spacing: 0.2em;
	font-size: var(--fs-body);
	font-weight: var(--fw-bold);
	color: var(--color-light);
	padding: 1.1em 2em;
	border: none;
	border-radius: 50px;
	margin-bottom: 5em;
}

/* Merch Section */
.merch {
	position: relative;
	margin: 0 auto;
	padding: 2em 0 5em 0;
}

@media (max-width: 768px) {
	.merch .wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.merch img {
		width: 400px !important;
	}
}

.merch h1 {
	text-align: center;
	margin-bottom: 1em;
}

.merch img {
	width: 700px;
}

.merch::before {
	content: '';
	background-image: url('./screens/sections/Merch/SlankMerch1.JPG');
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.545;
	z-index: -1;
}

.merch-text {
	display: block;
	justify-content: space-between;
	width: 250px;
	margin-left: 2em;
}

/* Contact */
.contact-section {
	margin: 0 auto;
	padding-top: 4em;
	position: relative;
}

.contact-section::before {
	content: '';
	background-image: url('./screens/sections/Contact/ContactBG.jpg');
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.65;
	z-index: -1;
}

.contact-text {
	text-align: center;
}

.contact-text p {
	margin: 0 auto;
	max-width: 700px;
	padding: 0 1em;
}

.contact-text h4 {
	margin-top: 4em;
}
.contact-form {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	max-width: 700px;
}

.email-btn {
	background: var(--color-acct2);
	padding: 1.1em 2em;
	border: none;
	border-radius: 50px;
	margin: 0 0 7em 0;
}

.email-btn a {
	letter-spacing: 0.2em;
	text-decoration: none;
	font-size: var(--fs-body);
	font-weight: var(--fw-bold);
	color: var(--color-light);
}

/* Footer */
.footer {
	margin: 0 auto;
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 0.6em;
	background-color: var(--color-dark);
}

.footer a {
	text-decoration: none;
	font-size: 20px;
	color: var(--color-acct1);
}

.pad-social {
	padding-right: 1em;
}

.footer p {
	color: gray;
	font-size: 10px;
}
