@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&family=PT+Mono&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Custom root properties */
:root {
	--ff-main: 'Nunito Sans', sans-serif;
	--ff-header: 'PT Mono', monospace;

	--fw-reg: 400;
	--fw-bold: 700;
	--fw-black: 800;

	--color-light: #ffffff;
	--color-dark: #0f0f0f;
	--color-background: #0e1334;
	--color-acct1: #3f5efb;
	--color-acct2: #e20b50;
	--gradient: linear-gradient(
		to bottom,
		rgba(252, 70, 107, 0.4) 0%,
		rgba(63, 94, 251, 0.4) 100%
	);
	--gradient2: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #0e1976 100%);

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
		0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 600px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

/* General styles */
html {
	scroll-behavior: smooth;
}

body {
	background: var(--color-background);
	color: var(--color-light);
	margin: 0 auto;
	font-family: var(--ff-main);
	font-size: var(--fs-body);
	line-height: 1.6;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	justify-content: center;
}

img {
	display: block;
	max-width: 100%;
}

button:hover {
	cursor: pointer;
}

button:focus {
	display: none;
}

/* Navbar */
.top-socials {
	position: absolute;
	top: 10%;
	left: 1.5%;
}

.top-socials a {
	text-decoration: none;
	font-size: 20px;
	color: var(--color-light);
	padding-right: 1em;
}

.logo {
	width: 150px;
}

.header {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	position: absolute;
	width: 100%;
}

.nav-items {
	position: absolute;
	top: 10%;
	right: 1.5%;
}

.nav-item {
	text-decoration: none;
	color: var(--color-light);
	padding-left: 2em;
}

/* Hero Section */
.hero-img {
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -2;
}

.hero-text::before {
	content: 'Set the vibe right';
	font-family: var(--ff-header);
	color: var(--color-light);
	font-size: 60px;
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 5%;
}

.hero-text button {
	background-color: var(--color-acct1);
	letter-spacing: 0.2em;
	font-size: var(--fs-body);
	font-weight: var(--fw-bold);
	color: var(--color-light);
	position: absolute;
	z-index: 3;
	top: 67%;
	left: 5%;
	padding: 1.1em 2em;
	border: none;
	border-radius: 50px;
}

.hero-divider {
	position: relative;
	bottom: 200px;
	left: 0;
	width: 100%;
	margin: 0 auto;
	line-height: 0;
}

.hero-divider svg {
	position: relative;
	margin: 0 auto;
	display: block;
	width: calc(200% + 1.3px);
	height: 214px;
	transform: rotateY(180deg);
}

.hero-divider .shape-fill {
	fill: #0e1334;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
	.hero-divider svg {
		width: calc(190% + 1.3px);
		height: 195px;
	}
}

/* About Section */
.about {
	display: flex;
	justify-content: center;
	position: relative;
	top: -8em;
	background-color: var(--color-background);
	margin: 0 auto;
}

.about-img {
	max-width: 500px;
}

.about-desc {
	flex-direction: column;
	max-width: 500px;
	margin-left: 3em;
}

.spdj {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.spdj::before {
	content: '';
	background-image: url('./screens/sections/SPDJ/SPDJ-BG.jpg');
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.25;
	z-index: -1;
}

.spdj .row {
	display: flex;
	justify-content: center;
	padding: 4em 0;
}

.spdj img {
	max-width: 300px;
	margin: 0 3em;
}

/* Song Section */
.album-container {
	background-color: var(--color-background);
}

.song-section {
	display: flex;
	position: relative;
	justify-content: center;
	margin: 0;
	margin-top: 2em;
	bottom: -20em;
	z-index: 3;
}

.ss-header {
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-family: var(--ff-header);
	font-size: var(--fs-h1);
	bottom: -3em;
}

.song-section img {
	width: 250px;
}

/* Song Card */
.song-card {
	text-align: center;
}

.song-card a {
	text-decoration: none;
	color: var(--color-light);
}

.song-card + .song-card {
	margin-left: 5em;
}

.play-icon {
	padding-top: 0;
	font-size: 1.4em;
}

.listen-now {
	display: flex;
	justify-content: center;
	align-content: center;
	background: var(--gradient2);
	z-index: 1;
	position: relative;
	top: -5.2em;
	padding: 3.5em 0 0.4em 0;
}

.listen-now p {
	margin: 0;
	padding-left: 0.7em;
}

/* Crowd Section */
.divider {
	position: absolute;
	left: 0;
	width: 100%;
	line-height: 0;
	transform: rotate(180deg);
	z-index: 0;
}

.divider svg {
	position: relative;
	display: block;
	width: calc(190% + 1.3px);
	height: 350px;
	transform: rotateY(180deg);
}

.divider .shape-fill {
	fill: var(--color-background);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
	.divider svg {
		width: calc(190% + 1.3px);
		height: 195px;
	}
}

/* Music Videos Section */
.collab {
	text-align: center;
	padding: 4em 0 9em 0;
}

.collab p {
	margin: 0;
	font-style: italic;
}

.collab h1,
.merch h1,
.contact-section h1 {
	margin: 0;
	font-family: var(--ff-header);
	font-size: var(--fs-h2);
}

.videos {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 10em;
}

.videos h3 {
	text-align: center;
}
.ig-cta a {
	text-decoration: none;
}

.ig-cta p {
	background: var(--color-acct2);
	letter-spacing: 0.2em;
	font-size: var(--fs-body);
	font-weight: var(--fw-bold);
	color: var(--color-light);
	padding: 1.1em 2em;
	border: none;
	border-radius: 50px;
	margin-bottom: 7em;
}

/* Merch Section */
.merch {
	position: relative;
	margin: 0 auto;
	padding: 4em 0;
}

.merch h1 {
	text-align: center;
	margin-bottom: 2em;
}

.merch img {
	width: 700px;
}

.merch::before {
	content: '';
	background-image: url('./screens/sections/Merch/SlankMerch1.JPG');
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.545;
	z-index: -1;
}

.merch-text {
	display: block;
	justify-content: space-between;
	max-width: 250px;
	margin-left: 2em;
}

/* Contact */
.contact-section {
  margin: 0 auto;
  padding-top: 4em;
  position: relative;
}

.contact-section::before {
	content: '';
	background-image: url('./screens/sections/Contact/ContactBG.jpg');
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.25;
	z-index: -1;
}

.contact-text {
  text-align: center;
}

.contact-text p {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 1em;
}

.contact-text h4 {
  margin-top: 4em;
}
.contact-form {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	max-width: 700px;
}

.email-btn {
	background: var(--color-acct2);
	padding: 1.1em 2em;
	border: none;
	border-radius: 50px;
	margin: 0 0 7em 0;
}

.email-btn a {
	letter-spacing: 0.2em;
	text-decoration: none;
	font-size: var(--fs-body);
	font-weight: var(--fw-bold);
	color: var(--color-light);
}
